{% extends 'layout.visiteur.html.twig' %}

{% block content %}
	<div class="container-fluid m-3">
		<div class="row">
			<div class="container col-8 offset-2">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/assets/images/annonces/{{bien.id}}/{{bien.photo_principale}}" class="d-block w-100" alt="Aperçu non disponible" height="400px">
                        </div>
                        {% for image in images %}
                        <div class="carousel-item">
                            <img src="/assets/images/annonces/{{bien.id}}/{{image}}" class="d-block w-100" alt="Aperçu non disponible" height="400px">
                        </div>
                        {% endfor %}    
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>			
			</div>
		</div>
	</div>
	<div class="main-block row">
		<div class="col-8">
            <div class="row mt-5">
                <div class="col-2 ms-5">
                    <h3>
                    <span class="badge badge-secondary bg-secondary text-dark">{{bien.categorie}}</span>
                    </h3>
                </div>
                <div class="col-2">
                    <h3>
                    <span class="badge badge-secondary bg-primary">{{bien.besoin}}</span>
                    </h3>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                <div class="col-6">
                    <h6 class="text-primary">{{bien.titre}}</h6>
                        {{bien.ville}}</br>
                        {{bien.adresse}}
                        {% if bien.complement != '' %}{% endif %}                       
                        </br>{{bien.complement}}
                </div>
                {% if bien.besoin == 'Location' %}
                    <div class="col-6">
                        <h6 class="text-primary">{{bien.loyer}} €/mois</h6>
                        Libre le {{bien.disponibilite}}
                    </div>
                {% elseif bien.besoin =='Achat' %}
                        <div class="col-6">
                        <h6 class="text-primary">{{bien.prix}} €</h6>
                        Libre le {{ bien.disponibilite|date("m/d/Y") }}
                    </div>
                {% endif %}
                
                
                <div class="row bg-secondary mt-5 pt-3 pb-3 mb-5 rounded-3">
                    <img class="col-1 img-fluid" src="/assets/images/house-plan-scale.png">
                    <span class="col-2 text-primary mt-4">{{bien.surface}} m²</span>
                    <img class="col-1 img-fluid" src="/assets/images/plugin.png">
                    <span class="col-2 text-primary mt-4">{{bien.piece}} pièces</span>
                    <img class="col-1 img-fluid" src="/assets/images/bed.png">
                    <span class="col-2 text-primary mt-4">{{bien.chambre}} chambres</span>
                    <img class="col-1 img-fluid" src="/assets/images/garage.png">
                    <span class="col-2 text-primary mt-4">{{bien.garage}}</span>
                </div>
                <div class="row">
                    <h5 class="text-primary mb-4">Description du bien :</h5>
                    <p>
                        {{bien.description}}
                    </p>
                </div>
                <div class="row mb-5">
                    <h5 class="text-primary mb-4">Détails du bien :</h5>
                    <div class='col'>
                        <h5>Intérieur</h5>
                        <p>Meublé : {{bien.est_vide}}</p>
                        <ul>
                        {% if bien.duplex == 'oui' %}
                            <li>Duplex</li>
                        {% endif %}
                        {% if bien.sejour == 'oui' %}
                            <li>Séjour</li>
                        {% endif %}
                        {% if bien.salon == 'oui' %}
                            <li>Salon</li>
                        {% endif %}
                        {% if bien.double_vitrage == 'oui' %}
                            <li>Double-vitrage</li>
                        {% endif %}
                        {% if bien.volets_roulants == 'oui' %}
                            <li>Volets-roulants</li>
                        {% endif %}
                        {% if bien.entree == 'oui' %}
                            <li>Entrée</li>
                        {% endif %}
                        {% if bien.cave == 'oui' %}
                            <li>Cave</li>
                        {% endif %}
                        {% if bien.grenier == 'oui' %}
                            <li>Grenier</li>
                        {% endif %}
                        {% if bien.logia == 'oui' %}
                            <li>Logia</li>
                        {% endif %}
                        {% if bien.cellier == 'oui' %}
                            <li>Cellier</li>
                        {% endif %}
                        {% if bien.balcon == 'oui' %}
                            <li>Balcon</li>
                        {% endif %}
                        {% if bien.cheminee == 'oui' %}
                            <li>Cheminée</li>
                        {% endif %}
                        {% if bien.sous_sol == 'oui' %}
                            <li>Sous-sol</li>
                        {% endif %}
                        {% if bien.interphone == 'oui' %}
                            <li>Interphone</li>
                        {% endif %}
                        {% if bien.digicode == 'oui' %}
                            <li>Digicode</li>
                        {% endif %}
                        </ul>
                    </div>
                    
                    <div class="col">
                        <h5>Extérieur</h5>
                        <p></p>
                        <p>Calme : {{bien.calme}}</p>
                        <p>Ensoleillé : {{bien.ensoleille}}</p>
                        <ul>
                        {% if bien.piscine == 'oui' %}
                            <li>Piscine</li>
                        {% endif %}
                        {% if bien.local_velo == 'oui' %}
                            <li>Local vélo</li>
                        {% endif %}
                        {% if bien.cour == 'oui' %}
                            <li>Cour</li>
                        {% endif %}
                        {% if bien.cour_close == 'oui' %}
                            <li>Cour-close</li>
                        {% endif %}
                        {% if bien.jardin == 'oui' %}
                            <li>Jardin</li>
                        {% endif %}
                        {% if bien.jardin_clos == 'oui' %}
                            <li>Jardin-clos</li>
                        {% endif %}
                        {% if bien.parking == 'oui' %}
                            <li>Parking</li>
                        {% endif %}
                        
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Equipements</h5>
                        <p>Cuisine : {{bien.cuisine}}</p>
                        <p>Chauffage : {{bien.chauffage}}</p>
                        <p>Revetement au sol : {{bien.revetement}}</p>
                        <p>DPE-E : {{bien.dpe_e}}</p>
                        <p>DPE-C : {{bien.dpe_c}}</p>
                    </div>
                    <div class="col">
                        {% if bien.residence =='oui' %}
                            <h5>Résidence</h5>
                            <p>Résidence : {{bien.residence}}</p>
                            <p>Nombre d'étage : {{bien.etage}}</p>
                            <p>Ascenseur : {{bien.ascenseur}}</p>
                            <p>Gardien : {{bien.gardien}}</p>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mt-5 mb-5">{% include 'Components/_form-bien.html.twig' %}</div>
            {% if bien.besoin =='Achat' %}
                <div class="row mt-5">{% include 'Components/_calculator.html.twig' %}</div>
            {% endif %}           
        </div>
    </div>    

    <div class ='container-fluid m-3'>
        <h4>Documents à fournir</h4>
        <ul>
        {% for document in documents %}
            <li>
                {{document.justificatifs}}
            </li>
        {% endfor %}
        </ul>
    </div>

{% include 'Components/_footerTop.html.twig' %}

{% endblock %}
