{% extends 'layout.visiteur.html.twig' %}

{% block content %}
{{dump()}}
	<div class="container-fluid">
		<div class="row mt-5 me-3 ms-3">
			<div class="col-6">
				<img class="img-fluid" src="/assets/images/annonces/{{bien.id}}/{{bien.photo_principale}}">
			</div>
			<div class="col-6 d-flex flex-wrap align-items-auto g-0">
				<div class="row">
					<div class="col-6">
						<img class="img-fluid" src="/assets/images/photo-annonce.jpeg">
					</div>
					<div class="col-6">
						<img class="img-fluid" src="/assets/images/photo-annonce.jpeg">
					</div>
					<div class="col-6">
						<img class="img-fluid" src="/assets/images/photo-annonce.jpeg">
					</div>
					<div class="col-6">
						<img class="img-fluid" src="/assets/images/photo-annonce.jpeg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-block row">
		<div class="col-8">
            <div class="row mt-5">
                <div class="col-2 ms-5">
                    <h3>
                    <span class="badge badge-secondary bg-secondary text-dark">{{bien.categorie}}</span>
                    </h3>
                </div>
                <div class="col-2">
                    <h3>
                    <span class="badge badge-secondary bg-primary">{{bien.besoin}}</span>
                    </h3>
                </div>
            </div>
            <div class="row mt-3 ms-5">
                <div class="col-6">
                    <h6 class="text-primary">{{bien.titre}}</h6>
                        {{bien.ville}}</br>
                        {{bien.adresse}}
                </div>
                {% if bien.besoin == 'Location' %}
                    <div class="col-6">
                        <h6 class="text-primary">{{bien.loyer}} €/mois</h6>
                        Libre le {{bien.disponibilite}}
                    </div>
                {% else %}
                        <div class="col-6">
                        <h6 class="text-primary">{{bien.prix}}</h6>
                        Libre le {{bien.disponibilite}}
                    </div>
                {% endif %}
                
                
                <div class="row bg-secondary mt-5 pt-3 pb-3 mb-5 rounded-3">
                    <img class="col-1 img-fluid" src="/assets/images/house-plan-scale.png">
                    <span class="col-2 text-primary mt-4">{{bien.surface}} m²</span>
                    <img class="col-1 img-fluid" src="/assets/images/garage.png">
                    <span class="col-2 text-primary mt-4">{{bien.garage}}</span>
                    <img class="col-1 img-fluid" src="/assets/images/shower.png">
                    <span class="col-2 text-primary mt-4">3</span>
                    <img class="col-1 img-fluid" src="/assets/images/toilet.png">
                    <span class="col-2 text-primary mt-4">3</span>
                </div>
                <div class="row">
                    <h5 class="text-primary mb-4">Description du bien :</h5>
                    <p>
                        {{bien.description}}
                    </p>
                </div>
                <div class="row mb-5">
                    <h5 class="text-primary mb-4">Détails du bien :</h5>
                    <div class="col-6">
                        <p>Nombre de pièces : {{bien.piece}} </p>
                        <p>Nombre de chambres : {{bien.chambre}}</p>
                        <p>Salle(s) de bain: 3</p>
                        <p>Toilette(s): 3</p>
                        <p>Garage(s): 2</p>
                        <p>Piscine: Oui</p>

                        <h5 class="text-primary mb-4">Pièces justificatives à fournir:</h5>
                        <ul>
                            <li>Photocopie de votre carte d’identité (ou de votre passeport).</li>
                            <li>Trois derniers bulletins de salaire (si l’on est salarié) ou deux derniers bilans (si l’on est un travailleur indépendant).</li>
                            <li>Justificatif de domicile (quittance EDF, avis de taxe d’habitation, etc.).</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <p>Terrain: 1300 m²</p>
                        <p>Charges comprises: eau + chauffage + internet + taxes d'habitation</p>
                        <p>Date de construction: 31/07/2008</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mt-5 mb-5">{% include 'Components/_form-bien.html.twig' %}</div>
            <div class="row mt-5">{% include 'Components/_calculator.html.twig' %}</div>
        </div>
    </div>
{% include 'Components/_footerTop.html.twig' %}    
{% endblock %}